{% extends 'base.html.twig' %}

{% block title %}Dashboard {% endblock %}

{% block body %}

<h1>Olá {{ app.user.fullname }} </h1>
<p>{{ app.user.email }}</p>
<p>Inscrição {{ app.user.createdAt|date('d/m/Y H:i') }}</p>
<img src="{{ app.user.image }}" alt="Foto de {{ app.user.fullname }}" />
<br />
<a href="{{ path('logout') }}">Desconectar</a>

<style>
    img { border-radius: 10px; }
</style>

{% endblock %}
